/*MEDIA SIZE*/

@media (max-width: 600px) { /*Para monitores small*/
	.hero h1 { margin-top: 68px; }
	.hero .second-p { position: absolute; bottom: 0; }
	.hero { max-height: 1107px; }
	.features .flex { flex-direction: column; }
	iframe { width: 90%; }
	.start .button-box { flex-direction: column; align-items: start; }
	.start .button-box a { margin-bottom: 30px; }
	.start .button-box form { margin-left: 0; }
}

@media (min-width: 600px) and (max-width: 820px) {
	.hero h1 { margin-top: 68px; }
	.hero .second-p { position: absolute; bottom: 0; }
	.hero { max-height: 1107px; }
}

@media (min-width: 982px) and (max-width: 1150px) {

}