/*MEDIA SIZE*/

@media (max-width: 600px) { /*Para monitores small*/
	.hero h1 { margin-top: 25px; position: relative;}
	.hero .first-p { font-size: 1.25em; opacity: 0.9; }
	.hero .second-p { position: absolute; bottom: 0; width: 90% }
	.hero { max-height: 1165px; min-height: 100vh; }
	.hero img { width: 70%; margin-top: 40px; }
	.hero .fill-button {font-size: 1em; padding: 0.6rem 4rem; }
	.features {padding: 2rem 0; }
	.features .flex { flex-direction: column; }
	.features .flex div { width: inherit; margin-bottom: 1rem; margin-top: 2rem; }
	.features h3 {font-size: 1.25em !important; }
	.features h4 {font-size: 1.5em !important; }
	iframe { width: 95%; }
	.start .button-box { flex-direction: column; align-items: start; }
	.start .button-box a { margin-bottom: 30px; }
	.start .button-box form { margin-left: 0; }
	.security { padding-top: 1rem;}
	.security .hide-on-med-and-up img { max-width: 80%; }
	.security h5 { margin-top: -15px !important; }
	#projects div { width: 46%; }
	.dapps { padding: 3rem 0 0;}
	.media { padding: 4rem 0; }
	.media h1 { margin: 0 0 2rem 0 !important;}
	nav .brand-logo { left: 0px !important; -webkit-transform: none !important; }
	nav .li-margin { margin-top: calc(50vh - 263px); }
	nav .sidenav-trigger { margin-right: 0 !important;}
	section, footer { margin-top: -1px;}
	.container {
	  width: 90% !important;
	  margin: auto;
	  padding: 0;
	}
	.dapps-img {
	  width: 90%;
	  position: relative;
	  top: 50px;
	  margin-bottom: 30px;
	}
	.basil-img { margin-bottom: 100px; }
	.projects-title { margin-top: 5rem; }
	#sponsors {max-width: 96%;}
	#sponsors div {height: 100px; width: 150px;}
	#sponsors img {max-width: 100px; max-height: 60%;}
}

@media (min-width: 600px) and (max-width: 982px) {
	.hero h1 { margin-top: 5rem; }
	.hero .second-p { position: absolute; bottom: 0; }
	.hero { max-height: 848px; min-height: 100vh; }
	.container {
	  width: 90% !important;
	  margin: auto;
	  padding: 0;
	}
	.dapps-img {
	  width: 60%;
	  position: relative;
	  top: 50px;
	  margin-bottom: 30px;
	}
	.security img { max-width: 100%!important; }
}

@media (min-width: 982px) and (max-width: 1150px) {
	.container {
	  width: 80% !important;
	  margin: auto;
	  padding: 0;
	}
	.dapps .col-left, .media .col-left {
	  padding-right: 30px !important;
	}
	.dapps .col-right, .media .col-right {
	  padding-left: 30px !important;
	}
	.dapps-img {
	  width: 113%;
	  position: relative;
	  top: 50px;
	  bottom: 0;
	}
	.dapps .col-left .dapps-img {
	  left: -13%;
	}
	.dapps .col-right .dapps-img {
	  left: 0;
	}
	.dapps { padding: 100px 0 40px; }
}
@media (min-width: 982px) and (max-width: 1313px) {
	#projects { width: 120%; margin-left: -10%; }
}
@media (min-width: 1150px) {
	blockquote { margin: 6rem 0!important; }
	.container {
	  max-width: 1150px !important;
	  margin: auto;
	  padding: 0;
	}
	.dapps .col-left, .media .col-left {
	  padding-right: 30px !important;
	}
	.dapps .col-right, .media .col-right {
	  padding-left: 30px !important;
	}
	.dapps-img {
	  width: 113%;
	  position: relative;
	  top: 50px;
	  bottom: 0;
	}
	.dapps .col-left .dapps-img {
	  left: -13%;
	}
	.dapps .col-right .dapps-img {
	  left: 0;
	}
	.dapps { padding: 4rem 0 40px; }

}


