/*MEDIA SIZE*/

@media (max-width: 600px) { /*Para monitores small*/
	.hero h1 { margin-top: 68px; position: relative;}
	.hero .second-p { position: absolute; bottom: 0; width: 90% }
	.hero { max-height: 1107px; }
	.features .flex { flex-direction: column; }
	.features .flex div { width: inherit; margin-bottom: 50px; }
	iframe { width: 90%; }
	.start .button-box { flex-direction: column; align-items: start; }
	.start .button-box a { margin-bottom: 30px; }
	.start .button-box form { margin-left: 0; }
	.security .hide-on-med-and-up img { max-width: 300px; }
	#projects div { width: 46%; }
	nav .brand-logo { left: 10px !important; -webkit-transform: none !important; }

	section, footer { margin-top: -1px;}
	.container {
	  width: 90% !important;
	  margin: auto;
	  padding: 0;
	}
	.dapps-img {
	  width: 80%;
	  position: relative;
	  top: 50px;
	  margin-bottom: 30px;
	}
}

@media (min-width: 600px) and (max-width: 982px) {
	.hero h1 { margin-top: 68px; }
	.hero .second-p { position: absolute; bottom: 0; }
	.hero { max-height: 848px; }
	.container {
	  width: 90% !important;
	  margin: auto;
	  padding: 0;
	}
	.dapps-img {
	  width: 60%;
	  position: relative;
	  top: 50px;
	  margin-bottom: 30px;
	}
}

@media (min-width: 982px) and (max-width: 1150px) {
	.container {
	  width: 80% !important;
	  margin: auto;
	  padding: 0;
	}
	.dapps .col-left, .media .col-left {
	  padding-right: 30px !important;
	}
	.dapps .col-right, .media .col-right {
	  padding-left: 30px !important;
	}
	.dapps-img {
	  width: 113%;
	  position: relative;
	  top: 50px;
	  bottom: 0;
	}
	.dapps .col-left .dapps-img {
	  left: -13%;
	}
	.dapps .col-right .dapps-img {
	  left: 0;
	}
	.dapps { padding: 100px 0 40px; }
}
@media (min-width: 1150px) {
	.container {
	  max-width: 1150px !important;
	  margin: auto;
	  padding: 0;
	}
	.dapps .col-left, .media .col-left {
	  padding-right: 30px !important;
	}
	.dapps .col-right, .media .col-right {
	  padding-left: 30px !important;
	}
	.dapps-img {
	  width: 113%;
	  position: relative;
	  top: 50px;
	  bottom: 0;
	}
	.dapps .col-left .dapps-img {
	  left: -13%;
	}
	.dapps .col-right .dapps-img {
	  left: 0;
	}
	.dapps { padding: 100px 0 40px; }

}


