@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

/*GENERAL*/

html, body, section {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
section{
  position: relative;
  min-height: 300px;
  overflow: hidden;
  text-align: center;
}
body, section, h1, h2, h3, p {
	text-align: left;
	color: white;
}
button, a {
  outline: none;
  cursor: pointer;
}
.container {
  width: 100%;
}
.hidden {
  display: none!important;
}
.centered {
  text-align: center;
}
.right-aligned {
	text-align: right;
}
.row {
  margin-bottom: 0 !important;
}
.flex {
	display: flex;
}

.row .col {
    padding: 0 !important;
}

/*TEXT*/
h1 {
	font-family: 'Roboto Mono', monospace;
	line-height: 1.5em !important;
  font-size: 1.75em !important;
  font-weight: bold!important;
  margin-bottom: 0 !important;
}
p {
	font-family: 'Roboto';
  font-size: 1.25em;
  line-height: 1.7;
  opacity: 0.8;
}

h2 {
	font-family: 'Roboto Mono', monospace;
	line-height: 1.25em !important;
  font-size: 1.5em !important;
  font-weight: bold!important;
  margin-bottom: 0 !important;
}

h3 {
	font-family: 'Roboto';
  font-size: 1.1em !important;
  line-height: 1.7 !important;
  margin: 1rem 0 0 0 !important;
  opacity: 0.9 !important;
}

h4 {
	font-family: 'Roboto Mono', monospace;
	line-height: 1.9rem !important;
  font-size: 1.3em !important;
  font-weight: bold!important;
  margin-bottom: 0 !important;
}

h5 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1em !important;
  line-height: 1.7 !important;
  margin: 1rem 0 0 0;
  opacity: 0.9 !important;
  color: #67eaec;
  font-weight: 600 !important;
  text-align: left;
}

/*NAVBAR*/
nav {
	background-color: #1d2327 !important;
	color: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.83);
  border-bottom: solid 0.5px #131313;
}
.brand-logo img {
	height: 1.5rem;
}
.brand-logo.zeppelin img {
  height: 1rem;
  margin-bottom: 4px;
}

.brand-logo.zeppelin {
  margin-left: 140px;
}

nav .empty-button {
	margin-top: 20px;
  height: 27px;
  line-height: 10px;
  margin-left: 10px;
}
nav ul a:hover {
  color: #67EAEC;
  background-color: transparent !important;
}
nav .sidenav-trigger {
  float: right !important;
}

#mobile-nav {
  background-image: linear-gradient(150deg, #283036, #111314);
  width: 100%;
}
#mobile-nav a {
  color: white;
  width: auto;
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-weight: 600;
}
#mobile-nav a.fill-button:hover {
  color: #39e6e0;
}
#mobile-nav a.fill-button {
  color: #1b2024;
}
#mobile-nav li {
  height: 70px !important;
}
#mobile-nav li.small-li {
  height: 2.5rem !important;
}
#mobile-nav li.button-li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px !important;
}
.side-nav {
  width: 100%;
}
.close-link {
  float: right;
  padding: 10px;
  width: 100% !important;
  max-width: 100% !important;
  height: 40px;
  background-color: #ffffff;
  background-color: rgba(25, 29, 31, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  font-family: 'Roboto';
  text-align: right !important;
  float: right !important;
}
.social-box {
  display: flex;
  width: 241px!important;
  margin: auto;
}
.social-box a {
  padding: 20px 5px!important;
}
.social-box a img{
  height: 30px
}

/*RECURRENT*/
.fill-button {
  background-color: #39e6e0;
  font-family: 'Roboto';
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-align: center;
  color: #191d1f;
  padding: 0.6rem 2.75rem;
  border-radius: 30px;
  border: solid 2px #39e6e0;
}
.fill-button:hover {
  color: #39e6e0;
  background-color: transparent;
}
.empty-button {
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-align: center;
  color: #39e6e0;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  border: solid 1px #39e6e0;
}
.empty-button:hover {
  color: #191d1f;
  background-color: #39e6e0 !important;
}
.transparent-btn {
  background: transparent;
  border: solid transparent;
}

/*TOKEN*/
.token {
  height: auto;
  overflow: hidden;
  text-align: center;
}

#token .tokenimg img{
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 0;
}

.token.row {
  padding: 5rem 0;
}

.token h5 {
  text-align: center;
  max-width: 80% !important;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em !important;
  margin-top: 1rem;
  margin-bottom: 0;
}

form {
  display: flex;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 2em !important;
  font-weight: 600;
  text-align: center;
  color: white;
  padding: 0 0 0 1.5rem;
  border-radius: 30px;
  border: solid 1px #67eaec;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 35rem;
  height: 3rem;
  max-width: 100%;
}
input, input[type="email"]::-webkit-input-placeholder {
  color: #67eaec;
  font-size: 1em;
  font-weight: 400;
}
input[type="email"] {
  margin: 0 !important;
  height: 38px !important;
  font-size: 1em;
  border: solid transparent !important;
  box-shadow: none !important;
}

input#mce-EMAIL.form-email {
  border: 2 !important;
}

form .transparent-btn{
  padding: 0 2px;
}
form .transparent-btn img{
  height: 26px;
  margin-top: 5px;
  margin-right: 2px;
}

#social img {
  margin-bottom: 0;
  margin-top: 0;
}

.token .social-media-box {
  margin-top: 2rem;
}

.social-media-box img {
  margin: 0 0.5rem;
  opacity: 0.5;
}

.social-media-box a :hover {
  opacity: 1;
}

/*HERO*/
.hero {
	background: linear-gradient(125deg, #283036, #111314);
	height: auto;
	max-height: 850px;
  overflow: hidden;
}
.hero .first-p {
	margin-bottom: 3rem;
}
blockquote {
  margin: 6rem 0;
  padding-left: 1.5rem;
  border-left: 4px solid #39e7e0 !important;
  font-size: 1.25em;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 1.75em;
  z-index: 550;
}
.hero .second-p {
  margin-top: 120px;
}
.hero h1 {
	max-width: 431px;
	margin-top: 7rem;
}
.hero p {
	max-width: 514px;
}
.hero .img-container {
	margin-top: 60px; 
  position: relative;
}
.hero .img-container img {
	width: 279px;
}
.hero .img-container img {
  position: absolute;
  right: 0;
  top: 0;
}

/*FEATURES*/
.features {
	background-color: #191d1f;
	padding: 70px 0;	
}
.features .flex {
	padding: 0!important;
	justify-content: space-between;
}
.features .flex div {
	padding: 0;
	width: 30%;
}
.feature-img-container {
  min-height: 50px;
}

.features .flex img{
  max-height: 44px;
}

/*SECURITY*/
.security {
	background: linear-gradient(136deg, #1f2529, #111314); 
	height: auto;
	padding-top: 5rem;
  padding-bottom: 5rem;
}
.security .row {
	margin: 2rem auto;
}
.security img {
	max-width: 433px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

/*PROJECTS*/

#projects {
	margin-top: 30px;
}
.projects-title {
  margin-top: 0rem;
}
#projects div {
  height: 100px;
  width: 180px;
  display: inline-block;
  vertical-align: middle;
}
#projects img {
  max-width: 200px;
  height: 60%;
  margin: 20px auto;
  display: block;
  text-align: center;
}
.coinbase {
  height: 38% !important;
  margin-top: 30px !important;
}
.livepeer {
	height: 34% !important;
  margin-top: 34px !important;
}
.truebit {
	height: 37% !important;
  margin-top: 23px !important;
}
.paxos {
	height: 45% !important;
  margin-top: 24px !important;
}
.rcn {
	width: 54% !important;
}
.winding-tree {
  height: 47% !important;
  margin-top: 26px !important;
}


/*DAPPS*/
#dapps .row {
  padding-bottom: 0 !important;
}
.dapps {
	padding: 100px 0;
	background-color: #191d1f;
  box-shadow: 0 0 20px 0 rgba(19, 19, 19, 0.55);
}

/*MEDIA*/
.media {
	background-image: linear-gradient(114deg, #283036, #111314);
	padding: 100px 0;
}
.media h1 {
	margin: 0 0 4rem 0 !important;
}
.media h5 {
  text-align: center !important;
  max-width: 90%;
  margin: auto !important;
  margin-bottom: 2rem !important;
  color: #4CC5FF !important;
}
iframe {
	border: solid transparent;
  width: calc(100% - 30px);
  height: 246px;
  max-width: 443px;
}

/*INVESTORS*/
.investors {
  background: linear-gradient(125deg, #283036, #111314);
  height: auto;
  overflow: hidden;
  padding-top: 3rem;
}
#investors h1 {
  max-width: 431px;
  text-align: center !important;
}
.investors p {
  max-width: 514px;
}

/*SPONSORS*/

#sponsors {
  margin-bottom: 4rem;
  margin-top: 3rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.sponsors-title h1{
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}
#sponsors div {
  height: 100px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1rem;

}
#sponsors img {
  max-width: 150px;
  max-height: 50%;
  margin: 20px auto;
  display: block;
  text-align: center;
}

/*START*/
.start {
	background-image: linear-gradient(282deg, #5c8ee4, #64cdea);
	padding: 50px 0;
}
.start .button-box {
	padding: 30px 0;
}
.white-button {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  padding: 11px 45px;
  padding: 9px 45px;
  border-radius: 30px;
  border: solid 2px white;
  height: 35px;
  line-height: 19px;
  color: #5fbeea;
  background-color: white;
}
.white-button:hover {
	color: white;
	background-color: transparent;
}

/*FOOTER*/
.footer {
	background-color: #191d1f;
	padding: 70px 0;
	min-height: auto;
}
.footer h3 {
	margin: 1rem;
}
.footer h3:hover {
  color: #67EAEC;
}
.footer img {
	margin: 11px 0;
}
.footer img {
	margin: 1rem 0 !important;
}
footer {
	background-color: #131313;
}

footer h3 {
	margin: 0 !important;
  padding: 2rem;
  text-align: center;
}
footer h3 img {
	top: 3px;
  position: relative;
  padding: 0 10px;
  margin: 1rem 0;
}


/*ANIMATION*/
#image1 {
  left: inherit!important;
  margin-left: 30px !important;
  width: 500px;
  position: relative;
  bottom: -158px;
}
